.FooterPage
{
width:100%;
}

.FooterPage .FooterPage_parent
{
background-color:#FFF7F3;
width:100%;
height:450px;
position:relative;
}

.FooterPage .FooterPage_parent--part1
{
display:flex;
align-items:flex-start;
justify-content:center;
height:100%;
width:100%;
}


.FooterPage_parent--part1 .FooterPage_child1
{
    margin:6em 0em 0em 0em;
    padding-left:2em;
    width:100%;
    height:300px;
    /* background-color: #d93e06; */
}
.FooterPage_parent--part1 .FooterPage_child2
{
    margin:6em 0em 0em 0em;
    /* padding-right:1em; */
    padding-left:2em;
    width:40%;
    height:300px;
    /* background-color: blueviolet */
}


.FooterPage_child1 .FooterPage_child1--image
{
margin:0em 0em 2em 0em;
cursor:pointer;
}

.FooterPage_parent--part1 .FooterPage_child1 p
{
margin-top:0em;
margin-bottom:1em;
font-size:1em;
font-weight:normal;
color:#5E5E5E;
letter-spacing:0.2px;
line-height:1.8em;
font-family: 'Quicksand', sans-serif;
}
.FooterPage_child1 .FooterPage_child1--part1
{
padding-left:0.5em;
display:flex;
align-items:flex-start;
justify-content:flex-start;
}
.FooterPage_child1--part1 img
{
width:40px;
height:40px;
padding-right:1em;
padding-top:1em;
cursor:pointer;
}
.FooterPage_child2 .FooterPage_child2--para1
{
padding:0em;
margin-top:0em;
margin-bottom:2em;
font-size:1.2em;
font-weight:normal;
color:#5E5E5E;

letter-spacing:0.2px;
font-family: 'Quicksand', sans-serif;
}
.FooterPage_child2 .FooterPage_child2--para2
{
margin-top:1em;
margin-bottom:0em;
font-size:1em;
font-weight:normal;
color:#5E5E5E;
letter-spacing:0.2px;
cursor:pointer;
font-family: 'Quicksand', sans-serif;
}
.FooterPage_child2 .FooterPage_child2--para3
{
margin-top:1em;
margin-bottom:0em;
font-size:1.4em;
font-weight:500;
color:#F25306;
letter-spacing:0.2px;
cursor:pointer;
font-family: 'Quicksand', sans-serif;
}
.FooterPage_child2--para2:hover
{
text-decoration:underline;
color:#d93e06;
}
.FooterPage_child2 .FooterPage_child2--para2a
{
margin-top:1em;
margin-bottom:0em;
font-size:1em;
font-weight:normal;
color:#5E5E5E;
letter-spacing:0.2px;
font-family: 'Quicksand', sans-serif;
}

.FooterPage_child3 .FooterPage_child3--para1
{
text-align:center;
padding-top:120;
letter-spacing:0.3px;
color:#5E5E5E;
}
.FooterPage_child3--para1 span
{
cursor:pointer;
color:#DB3F06;
}




/*media query*/
@media(min-width:320px){
    .FooterPage .FooterPage_parent--part1{
        flex-direction:column;
    }
    .FooterPage .FooterPage_parent{
        height:auto;
    }
    .FooterPage_parent--part1 .FooterPage_child2,
    .FooterPage_parent--part1 .FooterPage_child1
    {
        width:100%;
        margin:3em 0em 0em 0em;
        height:auto;
        /* padding: 0em; */
    }

}