.InstaPage
{
/* width:100%; */
/* height:auto; */
margin:0em 0em 0em 0em;
padding:0px;
}
.InstaPage .InstaPage_parent
{
display:flex;
align-items:center;
justify-content:flext-start;
height:300px;
width: 100%;

}

.InstaPage_parent .InstaPage_parent--child1,
.InstaPage_parent .InstaPage_parent--child2
 {
    height: 100%;
    width: 100%;
    position: relative;
    
}

.InstaPage_parent--child1 .InstaPage_parent--child1--img01,
.InstaPage_parent--child2 .InstaPage_parent--child1--img01
 {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.InstaPage_parent--child1 .InstaPage_parent--child1--img02,
.InstaPage_parent--child2 .InstaPage_parent--child1--img02
 {
    height: 30px;
    width: 30px;
    top:120px;
    right:45%;
    position: absolute;
    filter: invert(100%);
    display:block;
    transition: transform 0.9s ease-in-out;
    
}
.InstaPage_parent--child1:hover .InstaPage_parent--child1--img02,
.InstaPage_parent--child2:hover .InstaPage_parent--child1--img02
{
    transform: translate(0px, 10px);
    
}


/*media query*/
@media (max-width:991px){
    .InstaPage_parent--child2{
        display:none;
    }

}