.SubMenuPage
{
    width:100%;
    background-color:#FEF6F4;
    height:800px;
    position:relative;
    z-index:-1;
}
.SubMenuPage_child2
{
    width:40%;
}
.SubMenuPage .SubMenuPage__child{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    right:0em;
    bottom:0em;
    display: block;
}

.SubMenuPage__child .SubMenuPage_child1--img02
{
    height:100%;
    width:100%;
    position: absolute;
    object-fit: cover;
    display: block;
}

.SubMenuPage .SubMenuPage_child1--img01
{
    width:24%;
    position:absolute;
    left:0px;
    bottom:10px;
    z-index:1;
}
.SubMenuPage_child2 h2{
    font-size:8.2em;
    font-family: 'Lobster', sans-serif;
    text-align:left;
    position:absolute;
    top:90px;
    left:94px;
    font-weight:normal;
    color:#FDECE6;
    
    z-index:1;
    /* transform: translate 50px 0px; */
}
.SubMenuPage_child2 h3{
    font-size:4.2em;
    font-family: 'Quicksand', sans-serif;
    text-align:left;
    position:absolute;
    top:200px;
    left:95px;
    line-height:1.1em;
    width:40%;
    z-index:1;
}
.SubMenuPage_child2 p{
    font-size:1.1em;
    font-family: 'DM Sans', sans-serif;
    text-align:left;
    position:absolute;
    font-weight: 600;;
    top:380px;
    left:100px;
    line-height:1.8em;
    letter-spacing:0.2px;
    width:38%;
    z-index:1;
}
.SubMenuPage_child2 button
{
    text-align: center;
    font-size: 1.1em;
    color:white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    cursor:pointer;
    background-color:#F04506;
    border:none;
    padding:1em 2.5em 1em 2.5em;
    border-radius: 2em;
    position:absolute;
    left:93px;
    top:490px;
    z-index:2;
}





/*media query*/
@media only screen and (max-width:767px){
   .SubMenuPage .SubMenuPage_child1--img01{
    display:none;
   }
   .SubMenuPage_child2 h2{
    top:94px;
    left:0.4em;
    font-size:4.2em;
   }
   .SubMenuPage_child2 h3{
    width:80%;
    top:150px;
    left:1em;
    font-size:2em;
   }
   .SubMenuPage_child2 p{
    font-size:1.2em;
    font-weight: 300;
    top:230px;
    left:1.7em;
    width:80%;
   }
   .SubMenuPage .SubMenuPage_child2 button{
    /* top:350px; */
    top:380px;
    font-size: 0.95em;
    left:1.7em;
    background-color: green;
   }
   .SubMenuPage{
    width:100%;
    height:450px;
    }
}
@media(min-width:768px){
    .SubMenuPage .SubMenuPage_child1--img01{
        display:block;
    }
    .SubMenuPage_child2 h2{
        top:25px;
        left:0.5em;
        font-size:5em;
    }
    .SubMenuPage_child2 h3{
        width:20%;
        top:90px;
        left:3em;
        font-size:2em;
    }
    .SubMenuPage_child2 p{
        font-size:0.9em;
        font-weight: 300;
        top:200px;
        left:7em;
        width:50%;
        line-height: 1.5em;
    }
    .SubMenuPage .SubMenuPage_child2 button{
        top:260px;
        font-size: 1em;
        left:8em;
        padding:1em 1.5em 1em 1.5em;
    }
    .SubMenuPage{
        width:100%;
        height:400px;
        background-image: url(../images/submenu/h1_hero1.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .SubMenuPage .SubMenuPage__child{
        display:none;
    }
    
}

@media(min-width:1000px){
    .SubMenuPage
    {
        width:100%;
        height:800px;
        position:relative;
        z-index:-1;
        background-image: none;
    }
    .SubMenuPage .SubMenuPage_child2{
        width:40%;
    }
    .SubMenuPage .SubMenuPage_child1--img01{
        width:24%;
        position:absolute;
        left:0px;
        bottom:10px;
        z-index:1;
        
    }

    .SubMenuPage .SubMenuPage__child{
        height:100%;
        width:100%;
        position: absolute;
        top:0;
        right:0em;
        bottom:0em;
        display: block;
    }
    
    .SubMenuPage__child .SubMenuPage_child1--img02
    {
        height:100%;
        width:100%;
        position: absolute;
        object-fit: cover;
        display: block;
    }
    
   
    .SubMenuPage_child2 h2{
        font-size:8.2em;
        top:90px;
        left:94px;   
    }
    .SubMenuPage_child2 h3{
        font-size:4.2em;       
        top:200px;
        left:95px;
        width:40%;        
    }
    .SubMenuPage_child2 p{
        font-size:1.1em;
        font-weight: 600;;
        top:380px;
        left:100px;
        line-height:1.8em;
        width:38%;
    }
    .SubMenuPage .SubMenuPage_child2 button
    {
        
        font-size: 1.1em;
        background-color:#F04506;
        padding:1em 2.5em 1em 2.5em;
        left:93px;
        top:490px;
        
    }
    
    
}